block scripts
  //- script(src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.js")
  //- script(src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.1/min/tiny-slider.js")
  //- script(src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js")
  script(src='js/custom.js' type='module')
  