@import 'components/functions';
@import 'components/normalize';
@import 'components/variables';
@import 'components/fonts';
@import 'components/swiper';
@import 'blocks/header';
@import 'blocks/footer';
@import 'pages/index';
body {
  min-width: 320px;
  font-size: remCalc(16px);
  font-family: 'Open Sans';
  background-color: $main_bg;
//sticky footer fix
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

* {
  box-sizing: border-box;
}

.inner {
  margin: auto;
  max-width: $container_width;
}