.footer {
  background: url('/img/ruler-footer.png') 0 0 no-repeat;
  background-color: $sea_blue;
  padding-top: 48px;
  &-upper {
    .inner {
      display: flex;
      justify-content: space-between;
    }
  }
  &__contacts {
    width: calc(361 / 1170 * 100%);
    color: white;
  }
  p {
    font-size: $dim13;
    margin-bottom: 30px;
    line-height: $dim23;
  }
  &__phone a, &__email a {
    font-size: $dim20;
    font-style: italic;
    font-weight: 600;
    color: white;
    text-decoration: none;
    margin-left: 20px;
  }

  &__title {
    opacity: 0.5;
    color: #000000;
    font-size: $dim20;
    font-weight: 700;
    line-height: 24px;
  }

  &-menu {
    padding-left: 30px;
    &__item {
      list-style-type: none;
    }
    &__link {
      color: #ffffff;
      text-decoration: none;
      font-size: $dim13;
      font-weight: 400;
      line-height: 23.4px;
    }
  }
  &-blog {
    width: calc(330 / 1170 * 100%);
    &__image {
      background: url('/img/img-fallback.png');
      max-width: 70px;
      max-height: 70px;
      width: 100%;
      height: 70px;
      margin-right: 18px;
    }
    &__item {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
    }
    &__title {
      margin-bottom: 24px;
      > .footer__title {
        display: inline-block;
        text-transform: uppercase;
      }
    }
    &__text {
      font-size: $dim13;
    }
    &__date {
      color: black;
      opacity: 0.5;
    }
  }

}
