block footer
  .inner
    footer
      .footer__contacts
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolorum fugit atque odit alias aliquam a nostrum exercitationem ex consectetur quas saepe ullam assumenda beatae, repudiandae quos minus tenetur! Voluptates!
      .footer__menu
        .footer__title Company
        ul
          li
            a(href='#') About
          li
            a(href='#') FAQ
          li
            a(href='#') Contact
          li
            a(href='#') Terms
          li
            a(href='#') Privacy
          li
            a(href='#') Testimonials
      .footer__menu
        .footer__title Community
        ul
          li
            a(href='#') Blog
          li
            a(href='#') Forum
          li
            a(href='#') Support
          li
            a(href='#') Newsletter
      .footer__blog
        .footer__title From the blog
        .blog__block
          .blog__item
            img(src='img/image.png')
            .blog__info
              p Lorem ipsum dolor sit amet consectetur adipisicing elit
              .date 26 May, 2019
          .blog__item
            img(src='img/image.png')
            .blog__info
              p Lorem ipsum dolor sit amet consectetur adipisicing elit
              .date 26 May, 2019