block footer
  footer.footer
    .footer-upper
      .inner
        .footer__contacts
          a.header__logo(href='#')
            span.header__logo.header__logo--big Modus
            span.header__logo.header__logo--small Versus
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec.
          .footer__phone Phone: 
            a(href='tel:18225695896') 182 2569 5896
          .footer__email e-mail: 
            a(href='mailto:info@modu.versus') info@modu.versus
        nav.footer__menu
          .footer__title Company
          ul.footer-menu
            each val in ['About', 'FAQ', 'Contact', 'Terms', 'Privacy', 'Testimonials']
              li.footer-menu__item
                a.footer-menu__link(href='#')= val
        nav.footer__menu
          .footer__title Company
          ul.footer-menu
            each val in ['Blog', 'Forum', 'Support', 'Newsletter']
              li.footer-menu__item
                a.footer-menu__link(href='#')= val
        .footer-blog
          .footer-blog__title
            em from the
            .footer__title Blog
          .footer-blog__item
            .footer-blog__image
              img(src="", alt="")
            .footer-blog__text
              .footer-blog__title Lorem ipsum dolor sit amet, consectetur adipiscing elit
              .footer-blog__date 26 May, 2013
          .footer-blog__item 
            .footer-blog__image
              img(src="", alt="")
            .footer-blog__text
              .footer-blog__title Lorem ipsum dolor sit amet, consectetur adipiscing elit
              .footer-blog__date 26 May, 2013
    .footer-lower
      .inner