block header
  header.header
    .inner
      a.header__logo(href='#')
        span.header__logo.header__logo--big Modus
        span.header__logo.header__logo--small Versus
      ul.main-menu
        each val in ['Home', 'About', 'Services', 'Portfolio', 'Blog', 'Features', 'Contacts']
          li.main-menu__item
            a.main-menu__link(href='#')= val
            //- if val == 'Portfolio'
            //-   ul.submenu
            //-     each subval in ['Portfolio 2 column page', 'Portfolio 2 column page', 'Portfolio 2 column page']
            //-       li.submenu__item
            //-         a.submenu__link(href='#')= subval
      .header__search
        input.header__input
        button.header__button
          i.fas.fa-search
      .header__overlay-button
        div
        div
        div