extends layouts/base.pug
block title
  |Index
block main
  //- ul.main-slider
    li.slide
      a.slide__link(href='#')
        .slide__title Vestibulum
      .slide__text Maecenas tincidunt, augue et rutrum condimentum, libero lectus mattis orci, ut commodo.
    li.slide
      a.slide__link(href='#')
        .slide__title Vestibulum
      .slide__text Maecenas tincidunt, augue et rutrum condimentum, libero lectus mattis orci, ut commodo.
    li.slide
      a.slide__link(href='#')
        .slide__title Vestibulum
      .slide__text Maecenas tincidunt, augue et rutrum condimentum, libero lectus mattis orci, ut commodo.
  ul.swiper-container
    .swiper-wrapper
      .swiper-slide
        a.slide__link(href='#')
          .slide__title Vestibulum
        .slide__text Maecenas tincidunt, augue et rutrum condimentum, libero lectus mattis orci, ut commodo.
      .swiper-slide
        a.slide__link(href='#')
          .slide__title Vestibulum
        .slide__text Maecenas tincidunt, augue et rutrum condimentum, libero lectus mattis orci, ut commodo.
      .swiper-slide
        a.slide__link(href='#')
          .slide__title Vestibulum
        .slide__text Maecenas tincidunt, augue et rutrum condimentum, libero lectus mattis orci, ut commodo.
    .swiper-pagination
    .swiper-button.prev
    .swiper-button.next
  .inner
    .index-plank
      .plank__text
        h1 Some of our top services
        p Ut eleifend libero sed neque rhoncus consequat. Maecenas tincidunt, augue et rutrum condimentum, libero lectus mattis orci, ut commodo. 
      button.more View more
    .qualities
      .qualities__item
        i.far.fa-thumbs-up
        .qualities__item--title Suspendisse
        .qualities__item--text  Quisque id tellus quis risus vehicula vehicula ut turpis. In eros nulla, placerat vitae at, vehicula ut nunc. 
        button.more read more
      .qualities__item
        i.fas.fa-key
        .qualities__item--title Maecenas 
        .qualities__item--text  Ut eleifend libero sed neque rhoncus consequat. Maecenas tincidunt, augue et rutrum condimentum, libero lectus mattis orci, ut commodo. 
        button.more read more
      .qualities__item
        i.fas.fa-flag
        .qualities__item--title Aliquam 
        .qualities__item--text  Vivamus eget ante bibendum arcu vehicula ultricies. Integer venenatis mattis nisl, vitae pulvinar dui tempor non.  
        button.more read more
      .qualities__item
        i.fas.fa-atom
        .qualities__item--title Habitasse 
        .qualities__item--text  Astehicula ultricies. Integer venenatis mattis nisl, vitae pulvinar dui tempor non. 
        button.more read more
    .about 
      .about__title Why us?
      p Capacitance cascading integer reflective interface data development high bus cache dithering transponder.  
      .about__gallery
        .about__browser--left(src='img/browser-left.jpg')
          .about__inner-image Your Image
        .about__browser--center(src='img/browser-center.jpg')
          .about__inner-image--center Your Image
        .about__browser--right(src='img/browser-right.jpg')
          .about__inner-image Your Image
    .reasons
      .reasons__column
        .reasons__list
          .list__title.secondary-title Why choose us?
          ul
            li Quisque at massa ipsum 
            li Maecenas a lorem augue, egestas 
            li Cras vitae felis at lacus eleifend 
            li Etiam auctor diam pellentesque 
            li Nulla ac massa at dolor 
            li Condimentum eleifend vitae vitae  
      .graphs__column
        p Curabitur quis nisl in leo euismod venenatis eu in diam. Etiam auctor diam pellentesque lectus vehicula mattis. Nulla ac massa at dolor condimentum eleifend vitae vitae urna.
        .stats
          .stat__item 50
            .stat__caption Suspendisse
          .stat__item 70
            .stat__caption Maecenas
          .stat__item 80
            .stat__caption Aliquam
          .stat__item 100
            .stat__caption Habitasse
      .review__column
        .secondary-title What clients say?
        .review-block Curabitur quis nisl in leo euismod venenatis eu in diam. Etiam auctor diam pellentesque lectus vehicula mattis. Nulla ac massa at dolor condimentum
    .clients
      .secondary-title Our Clients
      .clients__block
        .client__item 
        
        .client__item

        .client__item

        .client__item

        .client__item

        .client__item






