//dimensions
$container_width: 1170px;
$dim8: remCalc(8px);
$dim9: remCalc(9px);
$dim10: remCalc(10px);
$dim11: remCalc(11px);
$dim12: remCalc(12px);
$dim13: remCalc(13px);
$dim14: remCalc(14px);
$dim15: remCalc(15px);
$dim16: remCalc(16px);
$dim17: remCalc(17px);
$dim18: remCalc(18px);
$dim19: remCalc(19px);
$dim20: remCalc(20px);
$dim21: remCalc(21px);
$dim22: remCalc(22px);
$dim23: remCalc(23px);
$dim24: remCalc(24px);
$dim25: remCalc(25px);
$dim26: remCalc(26px);
$dim27: remCalc(27px);
$dim28: remCalc(28px);
$dim30: remCalc(30px);
$dim32: remCalc(32px);
$dim34: remCalc(34px);
$dim36: remCalc(36px);
$dim38: remCalc(38px);
$dim40: remCalc(40px);

//colors
$main_bg: #f3f3f3;
$sea_blue: #76c7c0;
$dark_sea_blue: #62a29e;
$deep_dark_blue: #528b86;
$light_red: #e5645d;
$red: #e2534b;
$fallback: #7f8c8c;
$sea_fallback: #62b9b0;
$grey: #b0b8b9;
$dark_grey: #3f4646;
$light_grey: #ececec;
$h1: #7f8c8c;
$p: #777777;
$grey_bg: #f8f8f8;
$footer_title: #4b7e79;